<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <property name="severity" value="error"/>

    <module name="TreeWalker">
        <!-- Kapcsos zárójelek -->
        <module name="NeedBraces"/>
        <module name="LeftCurly"/>
        <module name="RightCurly"/>

        <!-- Whitespace -->
        <module name="WhitespaceAround"/>
        <module name="NoWhitespaceAfter"/>

        <!-- Import -->
        <module name="AvoidStarImport"/>
        <module name="UnusedImports"/>

        <!-- Elnevezés -->
        <module name="TypeName"/>
        <module name="MethodName"/>
        <module name="ParameterName"/>
        <module name="LocalVariableName"/>

        <!-- Egyéb -->
        <module name="EmptyBlock"/>
        <module name="OneStatementPerLine"/>
        <module name="MultipleVariableDeclarations"/>
    </module>

    <!-- Max sorhossz -->
    <module name="LineLength">
        <property name="max" value="120"/>
    </module>
</module>